@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Archivo';
}

body {
  margin: 0;
  background-color: #1f1f1f;
}

.sidebar {
  background-color: rgb(44, 44, 44);
}

@layer components {
    :root {
      @apply text-slate-50 
    }

    .sidebar-icon {
      @apply relative flex items-center justify-center
      p-1 mx-auto md:ml-1 md:mr-1 md:mb-0.5
    }
}